.tooltip {
  max-width: 250px;
  position: relative;
}

.tooltip .tooltip_inner {
  position: absolute;
  bottom: 53px;
}

.tooltip .tooltip_arrow {
  width: 0;
  height: 0;
  border-width: 8px 8px 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: hotpink;
  position: absolute;
  bottom: -7px;
  left: 12px;
}

.tooltip .tooltip_content {
  min-width: 130px;
  text-align: center;
  padding: 0.5em 0;
  background-color: hotpink;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 4px;
}
