.header {
  width: 100%;
  background-color: #333;
  height: 56px;
}

.header_inner {
  padding: 0 2em 0 1em;
  margin: 0 auto;
}

.header > .header_inner .logo {
  display: inline-block;
}

.header > .header_inner .nav {
  display: inline-block;
  font-size: 0.87rem;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #757575;
  width: 90%;
  max-width: 1770px;
}

.header .inner_list {
  background: rgba(47, 47, 47, 0.98);
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0 0 10px 0;
  width: 180px;
  position: absolute;
  top: 3em;
}

.header .inner_list a {
  font-size: 0.81rem;
  padding: 0.3em 0.625em;
}

.header .has_sublist:hover {
  color: #ddd;
}
